<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103407667284-r5hvm0tfdu84pn3uh3go0u3o6mid6j2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103407667284-r5hvm0tfdu84pn3uh3go0u3o6mid6j2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAce6O0spAf-lIwQhaWCxAQlZQGKK4TzFc</string>
	<key>GCM_SENDER_ID</key>
	<string>103407667284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olympos.echoapp</string>
	<key>PROJECT_ID</key>
	<string>bitirme-95e38</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirme-95e38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103407667284:ios:de84d232d754193e9845c1</string>
</dict>
</plist>